#note_content{
  background: none;
  color: white;
  width: 100%;
  height: 200px;
  border: none;
  padding: 8px 0px;
}

.note_content{
  color: #8A8A8A;
}


#load_max_load{
  background: none;
  color: white;
  border: none;
  width: 100%;
  font-size: xx-large;
  font-weight: 600;
  padding: 0px;
  margin-bottom: 8px;
}

.white-btn{
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 4px;
}

.inputs-btn{
  display: flex;
  margin-top: 4px;
  justify-content: flex-start;
  gap: 4px;
}
