#note_content{
  background: none;
  color: white;
  width: 100%;
  height: 200px;
}

#load_max_load{
  background: none;
  color: white;
  width: 50%;
}

.white-btn{
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 4px;
}

.inputs-btn{
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
}
