.navbar {
  display: flex;
  justify-content: space-between;
  height: 5vh
}

.fa-rotate-left{
  position: absolute;
  font-size: 24px;
  top: 30%;
}

.overlay {
  height: 100%;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
